//! **************************************************************************
// Written by: Map M.81d on Fri Oct 10 10:32:20 2014
//! **************************************************************************

SCHEMATIC START;
COMP "btn0" LOCATE = SITE "D9" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "sevenseg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "sevenseg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "sevenseg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "sevenseg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "sevenseg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "sevenseg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "sevenseg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

